.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.font{
  font-size: 1.5rem;
}

.little_space {
  width: 10px;
}

#pointer {
  text-align: center;
  color: red;
  font-size: xx-large;
  font-weight: bold;
}

.OutofCircle {
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 600px;
}

#circle {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.quarter {
  position: absolute;
  width: 200px;
  height: 200px;
}

.text1 {
  text-align: center;
  padding: 50% 25%;
  rotate: 45deg;
  font-size: 1.5rem;
  font-weight: bold;
}

.text2 {
  text-align: center;
  padding: 50% 25%;
  rotate: 135deg;
  font-size: 1.5rem;
  font-weight: bold;
}

.text3 {
  text-align: center;
  padding: 50% 25%;
  rotate: 225deg;
  font-size: 1.5rem;
  font-weight: bold;
}

.text4 {
  text-align: center;
  padding: 50% 25%;
  rotate: 315deg;
  font-size: 1.5rem;
  font-weight: bold;
}

#quarter_1 {
  background-color: #bbdbf3;
  border-radius: 0 100% 0 0;
  top: 0;
  right: 0;
}

#quarter_2 {
  background-color: #e3acae;
  border-radius: 0 0 100% 0;
  bottom: 0;
  right: 0;
}

#quarter_3 {
  background-color: #a3d6ce;
  border-radius: 0 0 0 100%;
  bottom: 0;
  left: 0;
}

#quarter_4 {
  background-color: #ffedab;
  border-radius: 100% 0 0 0;
  top: 0;
  left: 0;
}

.under_circle {
  padding-top: 20px;
  padding-left: 40px;
  width: 30%;
  margin: 0 20px;
}

.under_form {
  padding-bottom: 10px;
}

.next_text1 {
  background-color: #bbdbf3;
}

.next_text2 {
  background-color: #e3acae;
}

.next_text3 {
  background-color: #a3d6ce;
}

.next_text4 {
  background-color: #ffedab;
}

@media screen and (max-width:576px) {
  .font{
    font-size: 1rem;
  }

  #pointer {
    /*text-align: center;*/
    color: red;
    font-size: xx-large;
    font-weight: bold;
  }

  .OutofCircle {
    position: relative;
    /*margin: 0 auto;*/
    height: 250px;
    width: 250px;
  }

  #circle {
    /*position: relative;*/
    height: 180px;
    width: 180px;
    /*margin: 0 auto;*/
  }

  .quarter {
    /*position: absolute;*/
    width: 90px;
    height: 90px;
  }

  .under_circle {
    padding-top: 20px;
    padding-left: 40px;
    width: 60%;
    margin: 0 20px;
  }

  .text1 {
    text-align: center;
    padding: 50% 25%;
    rotate: 45deg;
    font-size: 10px;
    font-weight: bold;
  }
  
  .text2 {
    text-align: center;
    padding: 50% 25%;
    rotate: 135deg;
    font-size: 10px;
    font-weight: bold;
  }
  
  .text3 {
    text-align: center;
    padding: 50% 25%;
    rotate: 225deg;
    font-size: 10px;
    font-weight: bold;
  }
  
  .text4 {
    text-align: center;
    padding: 50% 25%;
    rotate: 315deg;
    font-size: 10px;
    font-weight: bold;
  }

}